appnope==0.1.4
asttokens==3.0.1
attrs==26.1.0
Automat==25.4.16
babel==2.18.0
backcall==0.2.0
beautifulsoup4==4.14.3
bibble==0.0.2
bleach==6.3.0
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.7
click==8.4.0
colorama==0.4.6
constantly==23.10.4
cryptography==48.0.0
cssselect==1.4.0
decorator==5.3.1
defusedxml==0.7.1
docopt==0.6.2
exceptiongroup==1.3.1
executing==2.2.1
fastjsonschema==2.21.2
filelock==3.29.0
ghp-import==2.1.0
hyperlink==21.0.0
idna==3.15
importlib_metadata==9.0.0
incremental==24.11.0
ipython==9.13.0
itemadapter==0.13.1
itemloaders==1.4.0
jedi==0.20.0
Jinja2==3.1.6
jmespath==1.1.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter_client==8.8.0
jupyter_core==5.9.1
jupyterlab_pygments==0.3.0
latexcodec==3.0.1
lxml==6.1.1
Markdown==3.10.2
MarkupSafe==3.0.3
matplotlib-inline==0.2.2
mergedeep==1.3.4
mistune==3.2.1
mkdocs==1.6.1
mkdocs-get-deps==0.2.2
mkdocs-markdownextradata-plugin==0.2.6
mkdocs-material==9.7.6
mkdocs-material-extensions==1.3.1
nbclient==0.10.4
nbconvert==7.17.1
nbformat==5.10.4
outcome==1.3.0.post0
packaging==26.2
paginate==0.5.7
pandocfilters==1.5.1
parsel==1.11.0
parso==0.8.7
pathspec==1.1.1
pexpect==4.9.0
pickleshare==0.7.5
platformdirs==4.9.6
prompt_toolkit==3.0.52
Protego==0.6.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyasn1==0.6.3
pyasn1_modules==0.4.2
pybtex==0.26.1
pycparser==3.0
PyDispatcher==2.0.7
Pygments==2.20.0
pymdown-extensions==10.21.3
pyOpenSSL==26.2.0
pyparsing==3.3.2
PySocks==1.7.1
python-dateutil==2.9.0.post0
PyYAML==6.0.3
pyyaml_env_tag==1.1
pyzmq==27.1.0
queuelib==1.9.0
referencing==0.37.0
regex==2026.5.9
requests==2.34.2
requests-file==3.0.1
rpds-py==0.30.0
Scrapy==2.16.0
scrapy-wayback-machine==1.0.3
selenium==4.44.0
service-identity==24.2.0
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.8.3
stack-data==0.6.3
tldextract==5.3.1
tornado==6.5.5
traitlets==5.15.0
trio==0.33.0
trio-websocket==0.12.2
Twisted==26.4.0
typing_extensions==4.15.0
urllib3==2.7.0
w3lib==2.4.1
watchdog==6.0.0
wayback-machine-scraper==1.0.8
wcwidth==0.7.0
webencodings==0.5.1
websocket-client==1.9.0
wsproto==1.3.2
yarg==0.1.10
zipp==4.1.0
zope.interface==8.4
