.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.toggleContainer {
  width: 25vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
